In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df= pd.read_csv('bank.csv', sep = ';')

In [ ]:
df.head(5)

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
3,30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no

In [ ]:
df.tail(5)

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
4516,33,services,married,secondary,no,-333,yes,no,cellular,30,jul,329,5,-1,0,unknown,no
4517,57,self-employed,married,tertiary,yes,-3313,yes,yes,unknown,9,may,153,1,-1,0,unknown,no
4518,57,technician,married,secondary,no,295,no,no,cellular,19,aug,151,11,-1,0,unknown,no
4519,28,blue-collar,married,secondary,no,1137,no,no,cellular,6,feb,129,4,211,3,other,no
4520,44,entrepreneur,single,tertiary,no,1136,yes,yes,cellular,3,apr,345,2,249,7,other,no

In [ ]:
def replace_marital(val):
  if val == "single":
    return 0
  else:
    return 1

df["marital"] = df["marital"].apply (replace_marital,1)

/tmp/ipython-input-6-3101762306.py:7: FutureWarning: the convert_dtype parameter is deprecated and will be removed in a future version.  Do ``ser.astype(object).apply()`` instead if you want ``convert_dtype=False``.
  df["marital"] = df["marital"].apply (replace_marital,1)

In [ ]:
df.head(10)

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,1,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
1,33,services,1,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
2,35,management,0,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
3,30,management,1,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no
4,59,blue-collar,1,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no
5,35,management,0,tertiary,no,747,no,no,cellular,23,feb,141,2,176,3,failure,no
6,36,self-employed,1,tertiary,no,307,yes,no,cellular,14,may,341,1,330,2,other,no
7,39,technician,1,secondary,no,147,yes,no,cellular,6,may,151,2,-1,0,unknown,no
8,41,entrepreneur,1,tertiary,no,221,yes,no,unknown,14,may,57,2,-1,0,unknown,no
9,43,services,1,primary,no,-88,yes,yes,cellular,17,apr,313,1,147,2,failure,no

In [ ]:
df["housing"] = df["housing"].map({
    "no": 0,
    "yes": 1
}.get)

In [ ]:
df.head(10)

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,1,primary,no,1787,0,no,cellular,19,oct,79,1,-1,0,unknown,no
1,33,services,1,secondary,no,4789,1,yes,cellular,11,may,220,1,339,4,failure,no
2,35,management,0,tertiary,no,1350,1,no,cellular,16,apr,185,1,330,1,failure,no
3,30,management,1,tertiary,no,1476,1,yes,unknown,3,jun,199,4,-1,0,unknown,no
4,59,blue-collar,1,secondary,no,0,1,no,unknown,5,may,226,1,-1,0,unknown,no
5,35,management,0,tertiary,no,747,0,no,cellular,23,feb,141,2,176,3,failure,no
6,36,self-employed,1,tertiary,no,307,1,no,cellular,14,may,341,1,330,2,other,no
7,39,technician,1,secondary,no,147,1,no,cellular,6,may,151,2,-1,0,unknown,no
8,41,entrepreneur,1,tertiary,no,221,1,no,unknown,14,may,57,2,-1,0,unknown,no
9,43,services,1,primary,no,-88,1,yes,cellular,17,apr,313,1,147,2,failure,no

In [ ]:
df["loan"] = df["loan"].replace({
    "no": 0,
    "yes": 1
})

/tmp/ipython-input-10-1522073226.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df["loan"] = df["loan"].replace({

In [ ]:
df.head(10)

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,1,primary,no,1787,0,0,cellular,19,oct,79,1,-1,0,unknown,no
1,33,services,1,secondary,no,4789,1,1,cellular,11,may,220,1,339,4,failure,no
2,35,management,0,tertiary,no,1350,1,0,cellular,16,apr,185,1,330,1,failure,no
3,30,management,1,tertiary,no,1476,1,1,unknown,3,jun,199,4,-1,0,unknown,no
4,59,blue-collar,1,secondary,no,0,1,0,unknown,5,may,226,1,-1,0,unknown,no
5,35,management,0,tertiary,no,747,0,0,cellular,23,feb,141,2,176,3,failure,no
6,36,self-employed,1,tertiary,no,307,1,0,cellular,14,may,341,1,330,2,other,no
7,39,technician,1,secondary,no,147,1,0,cellular,6,may,151,2,-1,0,unknown,no
8,41,entrepreneur,1,tertiary,no,221,1,0,unknown,14,may,57,2,-1,0,unknown,no
9,43,services,1,primary,no,-88,1,1,cellular,17,apr,313,1,147,2,failure,no

In [ ]:
df["job"].unique()

array(['unemployed', 'services', 'management', 'blue-collar',
       'self-employed', 'technician', 'entrepreneur', 'admin.', 'student',
       'housemaid', 'retired', 'unknown'], dtype=object)

In [ ]:
df["job"].replace({
    'unknown': np.nan,
    'management': 0,
    'technician': 1,
    'entrepreneur': 2,
    'blue-collar': 3,
    'retired': 4,
    'admin\.': 5,
    'services': 6,
    'self-employed': 7,
    'unemployed': 8,
    'housemaid': 9,
    'student': 10
    },inplace=True)

/tmp/ipython-input-13-528757308.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["job"].replace({

In [ ]:
df.head(10)

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,8,1,primary,no,1787,0,0,cellular,19,oct,79,1,-1,0,unknown,no
1,33,6,1,secondary,no,4789,1,1,cellular,11,may,220,1,339,4,failure,no
2,35,0,0,tertiary,no,1350,1,0,cellular,16,apr,185,1,330,1,failure,no
3,30,0,1,tertiary,no,1476,1,1,unknown,3,jun,199,4,-1,0,unknown,no
4,59,3,1,secondary,no,0,1,0,unknown,5,may,226,1,-1,0,unknown,no
5,35,0,0,tertiary,no,747,0,0,cellular,23,feb,141,2,176,3,failure,no
6,36,7,1,tertiary,no,307,1,0,cellular,14,may,341,1,330,2,other,no
7,39,1,1,secondary,no,147,1,0,cellular,6,may,151,2,-1,0,unknown,no
8,41,2,1,tertiary,no,221,1,0,unknown,14,may,57,2,-1,0,unknown,no
9,43,6,1,primary,no,-88,1,1,cellular,17,apr,313,1,147,2,failure,no

In [ ]:
df["education"].unique()

array(['primary', 'secondary', 'tertiary', 'unknown'], dtype=object)

In [ ]:
df["education"].replace({
    'unknown': np.nan,
    'primary': 0,
    'secondary': 1,
    'tertiary': 2
    },inplace=True)

/tmp/ipython-input-16-244036743.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["education"].replace({
/tmp/ipython-input-16-244036743.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df["education"].replace({

In [ ]:
df.head(10)

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,8,1,0.0,no,1787,0,0,cellular,19,oct,79,1,-1,0,unknown,no
1,33,6,1,1.0,no,4789,1,1,cellular,11,may,220,1,339,4,failure,no
2,35,0,0,2.0,no,1350,1,0,cellular,16,apr,185,1,330,1,failure,no
3,30,0,1,2.0,no,1476,1,1,unknown,3,jun,199,4,-1,0,unknown,no
4,59,3,1,1.0,no,0,1,0,unknown,5,may,226,1,-1,0,unknown,no
5,35,0,0,2.0,no,747,0,0,cellular,23,feb,141,2,176,3,failure,no
6,36,7,1,2.0,no,307,1,0,cellular,14,may,341,1,330,2,other,no
7,39,1,1,1.0,no,147,1,0,cellular,6,may,151,2,-1,0,unknown,no
8,41,2,1,2.0,no,221,1,0,unknown,14,may,57,2,-1,0,unknown,no
9,43,6,1,0.0,no,-88,1,1,cellular,17,apr,313,1,147,2,failure,no

In [ ]:
df["contact"].unique()

array(['cellular', 'unknown', 'telephone'], dtype=object)

In [ ]:
df["contact"].replace({
    'unknown': np.nan,
    'cellular': 0,
    'telephone': 1,
    },inplace=True)

/tmp/ipython-input-19-2997848495.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["contact"].replace({
/tmp/ipython-input-19-2997848495.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df["contact"].replace({

In [ ]:
df.head(10)

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,8,1,0.0,no,1787,0,0,0.0,19,oct,79,1,-1,0,unknown,no
1,33,6,1,1.0,no,4789,1,1,0.0,11,may,220,1,339,4,failure,no
2,35,0,0,2.0,no,1350,1,0,0.0,16,apr,185,1,330,1,failure,no
3,30,0,1,2.0,no,1476,1,1,NaN,3,jun,199,4,-1,0,unknown,no
4,59,3,1,1.0,no,0,1,0,NaN,5,may,226,1,-1,0,unknown,no
5,35,0,0,2.0,no,747,0,0,0.0,23,feb,141,2,176,3,failure,no
6,36,7,1,2.0,no,307,1,0,0.0,14,may,341,1,330,2,other,no
7,39,1,1,1.0,no,147,1,0,0.0,6,may,151,2,-1,0,unknown,no
8,41,2,1,2.0,no,221,1,0,NaN,14,may,57,2,-1,0,unknown,no
9,43,6,1,0.0,no,-88,1,1,0.0,17,apr,313,1,147,2,failure,no

In [ ]:
df["balance"].min()

-3313

In [ ]:
df["balance"].max()

71188

In [ ]:
df["balance"] = df["balance"].apply(lambda x: (x - df["balance"].min()) / (df["balance"].max() - df["balance"].min()))

In [ ]:
df.head(10)

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,8,1,0.0,no,0.068455,0,0,0.0,19,oct,79,1,-1,0,unknown,no
1,33,6,1,1.0,no,0.108750,1,1,0.0,11,may,220,1,339,4,failure,no
2,35,0,0,2.0,no,0.062590,1,0,0.0,16,apr,185,1,330,1,failure,no
3,30,0,1,2.0,no,0.064281,1,1,NaN,3,jun,199,4,-1,0,unknown,no
4,59,3,1,1.0,no,0.044469,1,0,NaN,5,may,226,1,-1,0,unknown,no
5,35,0,0,2.0,no,0.054496,0,0,0.0,23,feb,141,2,176,3,failure,no
6,36,7,1,2.0,no,0.048590,1,0,0.0,14,may,341,1,330,2,other,no
7,39,1,1,1.0,no,0.046442,1,0,0.0,6,may,151,2,-1,0,unknown,no
8,41,2,1,2.0,no,0.047436,1,0,NaN,14,may,57,2,-1,0,unknown,no
9,43,6,1,0.0,no,0.043288,1,1,0.0,17,apr,313,1,147,2,failure,no

In [ ]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
df["balance"] = scaler.fit_transform(df[["balance"]])

In [ ]:
df.head(10)

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,8,1,0.0,no,0.068455,0,0,0.0,19,oct,79,1,-1,0,unknown,no
1,33,6,1,1.0,no,0.108750,1,1,0.0,11,may,220,1,339,4,failure,no
2,35,0,0,2.0,no,0.062590,1,0,0.0,16,apr,185,1,330,1,failure,no
3,30,0,1,2.0,no,0.064281,1,1,NaN,3,jun,199,4,-1,0,unknown,no
4,59,3,1,1.0,no,0.044469,1,0,NaN,5,may,226,1,-1,0,unknown,no
5,35,0,0,2.0,no,0.054496,0,0,0.0,23,feb,141,2,176,3,failure,no
6,36,7,1,2.0,no,0.048590,1,0,0.0,14,may,341,1,330,2,other,no
7,39,1,1,1.0,no,0.046442,1,0,0.0,6,may,151,2,-1,0,unknown,no
8,41,2,1,2.0,no,0.047436,1,0,NaN,14,may,57,2,-1,0,unknown,no
9,43,6,1,0.0,no,0.043288,1,1,0.0,17,apr,313,1,147,2,failure,no